@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

h2, h3, span {
  font-family: "Archivo", sans-serif;
  font-weight: 400;
}
